<!doctype html>
<head>
	<meta charset='utf-8'>
	<title>FileEditor</title>
	<script src='jquery-2.0.3.js'></script>
	<script src='underscore.js'></script>
	<script src='backbone.js'></script>
	<script src='main.js'></script>
	<link rel='stylesheet' href='style.css'>
</head>
<body>
	<script type='text/template' id='filename-template'>
		<%= name %> (length: <%= length %> bytes)
	</script>

	<p>List of files:

	<ul id='files'>
	</ul>

	<div id='content'>
		<p>File <span class='filename'></span>:</p>
		<textarea></textarea> 
	</div>
</body>
